@model SystemRestauracja.Models.Admin.SymbolViewModel
@{
    ViewData["Title"] = "AddSymbol";
}

<h1>AddSymbol</h1>


<form class="ml-5 w-75" id="form">
    <div class="row">
        <p>Nazwa symbolu</p>
        <input type="text" class="form-control col text-primary" asp-for="SymbolName" placeholder="Nazwa symbolu" />
    </div>
    <div class="row">
        <p>Id symbolu(font-awesome)</p>
        <input type="text" class="form-control col text-primary" asp-for="SymbolFontId" placeholder="Id symbolu" />
    </div>
    <div class="row">
        <p>Wybierz kolor</p>
        <input type="text" class="form-control col text-primary" asp-for="SymbolColor" placeholder="kolor" />
    </div>
    <div class="row">
        <input type="submit" formmethod="post" class="btn btn-dark" value="Zatwierdź" />
    </div>
</form>

