@model SystemRestauracja.Models.Admin.DaniaReportViewModel
@{
    ViewData["Title"] = "Lista Dań";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<div class="container-fluid list-group col">
    <div class="row">
        <label class="col w-25"></label>
        <label class="col">Nazwa</label>
        <label class="col">Kategoria</label>
        <label class="col">Ilość zamówień</label>
        <label class="col">Czy opublikowane</label>
        <label class="col">Data utworzenia</label>
    </div>
</div>

<div class="container-fluid list-group col" style="overflow-y:scroll; height: 75vh; padding-left:25px;">
    @foreach (var element in Model.DaniaList)
    {
        <div class="col w-25"></div>
        <label class="col text-primary">@element.Nazwa</label>
        <label class="col text-primary">@element.Category.Nazwa</label>
        <label class="col text-primary"></label>
    }
</div>