@model SystemRestauracja.Models.Account.LoginViewModel

@{
    ViewData["Title"] = "Panel Administratora";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}


<h2>@ViewData["Title"]</h2>
<div class="col ml-3" style="width:90%">
    <div>
        <div class="row">
            <a asp-action="AddCategory" class="btn btn-outline-info col">Dodaj kategorię</a>
        </div>
        <div class="row">
            <a asp-action="ShowCategories" class="btn btn-outline-success col">Wyświetl listę kategorii</a>
        </div>
        <div class="row">
            <a asp-action="AddDanie" class="btn btn-outline-info col">Dodaj potrawę</a>
        </div>
        <div class="row">
            <a asp-action="ShowDania" class="btn btn-outline-success col">Wyświetl listę potraw</a>
        </div>
        <div class="row">
            <a asp-action="AddUserAsync" class="btn btn-outline-info col">Dodaj stolik</a>
        </div>
        <div class="row">
            <a asp-action="ShowUsers" class="btn btn-outline-success col">Wyświetl listę stolików</a>
        </div>
        <div class="row">
            <a asp-action="AddSymbol" class="btn btn-outline-info col">Dodaj nowy symbol do dania</a>
        </div>
        <div class="row">
            <a asp-action="ShowSymbols" class="btn btn-outline-success col">Wyświetl symbole</a>
        </div>
        <div class="row">
            <a asp-action="ShowPending" class="btn btn-outline-success col">Pokaż oczekujące zestawy</a>
        </div>
        <div class="row">
            <a asp-action="GenerateReportDania" class="btn btn-outline-warning col">Wygeneruj raport dań</a>
        </div>
        <div class="row">
            <a asp-action="GenerateReportZestawy" asp-route-dataOd="@DateTime.Now" asp-route-dataDo="@DateTime.Now" class="btn btn-outline-warning col">Wygeneruj raport zestawów</a>
        </div>
        @*<div class="row">
            <a asp-action="ShowOpenOrders" class="btn btn-outline-success col">Pokaż niezamknięte zamówienia</a>
        </div>*@
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}